.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: red;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.navbar-text {
    margin-left: 15px;
}

#fullpage {
    .section {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    /* Backgrounds will cover all the section
* --------------------------------------- */
    #section0,
    #section1,
    #section2,
    #section3,
    #slide1,
    #slide2 {
        background-size: cover;
    }
    /* Defining each sectino background and styles 
* --------------------------------------- */
    #section0 {
        background-image: url('../assets/images/home_bg.jpg');
        background-position: right;
    }
    /*Adding background for the slides
* --------------------------------------- */
    #slide1 {
        background-image: url('../assets/images/IMG_8702.jpg');
        background-position: center;
    }
    #slide2 {
        background-image: url('../assets/images/IMG_8689.jpg');
        background-position: center;
    }
    #slide3 {
        background-image: url('');
    }


    h1.header, p {
        font-family: 'Amatic SC';
    }

}
