.thing-form {
    margin: 20px 0;
}

.brand-logo {
    img {
        width: 200px;
    }
}

h1.header,
p {
    font-family: 'Amatic SC';
}


#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: red;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.navbar-text {
    margin-left: 15px;
}

#fullpage {
    .section {
        padding-top: 0;
        padding-bottom: 0;
    }
    /* Backgrounds will cover all the section
* --------------------------------------- */
    #section0,
    #section1,
    #section2,
    #section3,
    #slide1,
    #slide2 {
        background-size: cover;
    }
    /* Defining each sectino background and styles 
* --------------------------------------- */
    #section0 {
        background-image: url('../assets/images/home_bg.jpg');
        background-position: right;
    }
    /*Adding background for the slides (COLLECTIONS)
* --------------------------------------- */
    #spring01-01 {
        background-image: url('../assets/images/spring01/IMG_01.jpg');
        background-position: center top;
    }
    #spring01-02 {
        background-image: url('../assets/images/spring01/IMG_02.jpg');
        background-position: center bottom;
    }
    #spring01-03 {
        background-image: url('../assets/images/spring01/IMG_03.jpg');
        background-position: center top;
    }
    #spring01-04 {
        background-image: url('../assets/images/spring01/IMG_04.jpg');
        background-position: center top;
    }
    #spring01-05 {
        background-image: url('../assets/images/spring01/IMG_05.jpg');
        background-position: center top;
    }
    #spring01-06 {
        background-image: url('../assets/images/spring01/IMG_06.jpg');
        background-position: center center;
    }
    #spring01-07 {
        background-image: url('../assets/images/spring01/IMG_07.jpg');
        background-position: center center;
    }
    #spring01-08 {
        background-image: url('../assets/images/spring01/IMG_08.jpg');
        background-position: center center;
    }
    #spring01-09 {
        background-image: url('../assets/images/spring01/IMG_09.jpg');
        background-position: center top;
    }
    #spring01-10 {
        background-image: url('../assets/images/spring01/IMG_10.jpg');
        background-position: center top;
    }
    #spring01-11 {
        background-image: url('../assets/images/spring01/IMG_11.jpg');
        background-position: center top;
    }
    #spring01-12 {
        background-image: url('../assets/images/spring01/IMG_12.jpg');
        background-position: center top;
    }
    #spring01-13 {
        background-image: url('../assets/images/spring01/IMG_13.jpg');
        background-position: center center;
    }
    /* SPRING 02 
* --------------------------------------- */
    #spring02-01 {
        background: url('../assets/images/spring02/IMG_01.jpg') center center no-repeat;
    }
    #spring02-02 {
        background: url('../assets/images/spring02/IMG_02.jpg') center top no-repeat;
    }
    #spring02-03 {
        background: url('../assets/images/spring02/IMG_03.jpg') center top no-repeat;
    }
    #spring02-04 {
        background: url('../assets/images/spring02/IMG_04.jpg') center center no-repeat;
    }
    #spring02-05 {
        background: url('../assets/images/spring02/IMG_05.jpg') left center no-repeat;
    }
    #spring02-06 {
        background: url('../assets/images/spring02/IMG_06.jpg') center top no-repeat;
    }
    #spring02-07 {
        background: url('../assets/images/spring02/IMG_07.jpg') left top no-repeat;
    }
    #spring02-08 {
        background: url('../assets/images/spring02/IMG_08.jpg') center top no-repeat;
    }
    #spring02-09 {
        background: url('../assets/images/spring02/IMG_09.jpg') center top no-repeat;
    }
    #spring02-10 {
        background: url('../assets/images/spring02/IMG_10.jpg') center top no-repeat;
    }
    #spring02-11 {
        background: url('../assets/images/spring02/IMG_11.jpg') center top no-repeat;
    }
    #spring02-12 {
        background: url('../assets/images/spring02/IMG_12.jpg') center top no-repeat;
    }
}


/* ----------- iPhone 6 ----------- */


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (max-width: 667px) {
    #section0 {
        .fp-tableCell {
            text-align: left;
            padding-left: 7%;
            .header {
                font-size: 60px;
            }
        }
    }
}


/* ----------- iPad 3 and 4 ----------- */


/* Portrait */


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #section0 {
        .fp-tableCell {
            text-align: center;
            .header {
                font-size: 100px;
            }
        }
    }
}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {}


/* ----------- Desktop ----------- */

@media only screen and (min-device-width: 1024px) {}
