nav {
    z-index: 999;
    position: fixed;
    .brand-logo {
        padding-left: 15px;
        width: 200px;
        img {
            width: 100%;
        }
    }
    .hamburger-box {
        vertical-align: middle;
    }
    button {
        vertical-align: middle;
    }
    button:focus {
        background-color: transparent;
    }
    ul {
        li {
            font-family: 'Raleway', serif;
            button span,
            button i,
            a.social-media {
                color: #263238;
                font-weight: normal;
                font-size: 12px;
                line-height: 50px;
            }
            a.social-media i {
                vertical-align: top;
            }
        }
        li.active {
            background-color: #5b1b35;
            button span {
                color: white;
            }
        }
    }
}

button.md-button.md-ink-ripple,
button.md-button.ng-isolate-scope.md-ink-ripple {
    margin: 0 auto;
    height: 50px;
    width: 100%;
    padding: 0 10px;
}

.dropdown-content {
    top: 0px !important;
}

.dropdown-content li.active,
.dropdown-content li.selected {
    background-color: #5b1b35;
    color: white;
}

.dropdown-content li button span.active,
.dropdown-content li button span.selected {
    background-color: #5b1b35;
    color: white;
}
