.md-dialog-is-showing {
	overflow: visible !important;
}

md-backdrop.md-sidenav-backdrop-custom {
    background-color: transparent !important;
    z-index: 99;
}

md-backdrop.disabled {
    display: none;
    pointer-events: none;
    cursor: default;
}



