$hamburger-layer-width: 25px;
$hamburger-layer-height: 2px;
$hamburger-padding-y: 0px;

$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';
@import '../assets/styles/vendor/jquery.fullPage';
@import '../bower_components/css-hamburgers/_sass/hamburgers/hamburgers';
@import '../bower_components/materialize/sass/materialize';


/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
/* inject:scss */
@import '../components/fullpage/fullpage';
@import '../styles/footer';
@import '../styles/main';
@import '../styles/modal';
@import '../styles/navbar';
@import '../styles/sidenav';
/* endinject */
