// Desktop Navbar 
div(layout ng-cloak)
  nav(hide-xs hide-sm hide-md ng-controller='NavbarCtrl')
    div(class="nav-wrapper white")
        a(class="brand-logo" data-menuanchor="home") 
          img(ng-src="/assets/images/victoriaboone_logo.png" alt="Victoria Boone")
        ul(class="right active-link" ng-click="vm.menuClick('asd')")
          li(data-menuanchor="home")
            md-button(md-ink-ripple="#f48fb1") Home
          li
            md-button(md-ink-ripple="#f48fb1" data-activates="dropdown1" dropdown data-hover="true") Collections
              i(class="material-icons right") arrow_drop_down      
          li(data-menuanchor="whoweare")
            md-button(md-ink-ripple="#f48fb1") Who we are            
  // Dropdown Structure
  ul(id="dropdown1" class="dropdown-content")
    li(data-menuanchor="spring-01")
      md-button(md-ink-ripple="#f48fb1") Spring 16' Pt.1
    li(data-menuanchor="spring-02")
      md-button(md-ink-ripple="#f48fb1") Spring 16' Pt.2


//div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarController')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='nav.isCollapsed = !nav.isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') victoriaboone

    div#navbar-main.navbar-collapse.collapse(uib-collapse='nav.isCollapsed')
      ul.nav.navbar-nav
        li(ng-repeat='item in nav.menu', ui-sref-active='active')
          a(ui-sref='{{item.state}}') {{item.title}}