//Mobile Hamburger Sidenav
div(ng-controller="SidebarCtrl" id="sidebar")
    nav(hide-lg hide-xl class="nav-wrapper white navFade animated fadeIn")
        a(class="brand-logo" data-menuanchor="home")
            img(ng-src="/assets/images/victoriaboone_logo.png" alt="Victoria Boone")
        div(id="nav-mobile" class="right")
            div(ng-click="backdropToggle()" class="hamburger hamburger--spin" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation")
                div(class="hamburger-box")
                    div(class="hamburger-inner")

    //Mobile Sidenav
    md-backdrop(ng-click="backdropToggle()" class="md-sidenav-backdrop md-opaque md-default-theme md-sidenav-backdrop-custom disabled" hide-lg hide-xl)
    md-sidenav(md-is-open="isSidenavOpen" md-component-id="left" class="md-sidenav-left" hide-lg hide-xl)
        md-toolbar(class="white")
        md-content(layout-padding)
            ul(class="active-link" ng-click="vm.moog('asd')")
                li(ng-click="backdropToggle()" data-menuanchor="home")
                    a Home
                li(class="no-padding")
                    li
                        Collections
                            i(class="midi-navigation-arrow-dropdown")
                    li(ng-click="backdropToggle()" data-menuanchor="spring-01")
                        a Spring 16' Pt.1
                    li(ng-click="backdropToggle()" data-menuanchor="spring-02")
                        a Spring 16' Pt.2
                    li(ng-click="backdropToggle()" data-menuanchor="whoweare")
                        a Who we are





