<div layout="column" ng-cloak ng-controller="FullpageCtrl" id="fullpage">
    <md-content flex>
        <div layout="column">
            <div full-page options="vm.mainOptions">
                <div class="section active" id="section0">
                    <h1 class="header">#FUNTOWEAR</h1>
                    <p>@victoriaboone</p>
                </div>
                <div class="section" id="section1">
                    <div ng-repeat="product in vm.spring01">
                        <div class="slide" id="{{product.id}}">
                            <!--<h1>{{product.title}}</h1>-->
                        </div>
                    </div>
                </div>  
                <div class="section" id="section2">
                    <div ng-repeat="product in vm.spring02">
                        <div class="slide" id="{{product.id}}">
    
                        </div>                  
                    </div>
                </div>
                <div class="section" id="section3">
                    <div class="intro">
                        <h1></h1>
                        <h3>
                            Victoria Boone is a Mexican independent Ready-to-Wear fashion brand that can be described as vibrant with its touch of uniqueness. The design is defined by its statement pieces complemented with an urban style that reflect individuality.
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div flex></div>
    </md-content>
</div>